h1{
    text-align: center;
    font-size: 24px;
}

p{
    font-size: 120%;
}

#a1:link{
    color: #2C25F5;
}
#a2:link{
    color: #7F00FF;
}
#a3:link{
    color: #FFFF00;
}
#a4:link{
    color: #FFFF00;
}
#a1:visited{
    color: #003366;
}
#a1:visited{
    color: #666600;
}
#a1:visited{
    color: #FF6666;
}
#a1:visited{
    color: #994C00;
}