* {
	box-sizing: border-box;
}

article:nth-of-type(1) {
	background-color: red;
	color: blue;
}

article:nth-of-type(2) {
	background-color: yellow;
	color: red;
}

article:nth-of-type(3) {
	background-color: green;
	color: pink;
}

article:nth-of-type(4) {
	color:orange;
	display: flex;
	justify-content: center;
	background-color: blue;
}

.title1 {
	background-color: grey;
	color: blueviolet;
}

.title2 {
	background-color: brown;
	color: aqua;
}

.title3 {
	background-color: yellow;
	color:blue;
}

.title4 {
	background-color: purple;
	color:aliceblue;
}

article {
	position: relative;
}

div {
	font-family: 'Kalnia', serif;
	display: flex;
	flex-wrap: wrap;
}

div h2 {
	font-family: 'Afacad', sans-serif;
	font-size: 1.2em;
	width: 180px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
}

table {
	border-spacing: 0;
	border: 1px solid black;
}

td, th{
	border: 1px solid black;
}