* {
	box-sizing: border-box;
}

article:nth-of-type(1) {
	background-color: red;
	color: blue;
}

article:nth-of-type(2) {
	background-color: yellow;
	color: red;
}

article:nth-of-type(3) {
	background-color: green;
	color: pink;
}

article:nth-of-type(4) {
	color:orange;
	display: flex;
	justify-content: center;
	background-color: blue;
}

.title1 {
	background-color: grey;
	color: blueviolet;
}

.title2 {
	background-color: brown;
	color: aqua;
}

.title3 {
	background-color: yellow;
	color:blue;
}

.title4 {
	background-color: purple;
	color:aliceblue;
}

article {
	position: relative;
}

div {
	font-family: 'Kalnia', serif;
	display: flex;
	flex-wrap: wrap;
}

div h2 {
	font-family: 'Afacad', sans-serif;
	font-size: 1.2em;
	width: 180px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
}

table {
	border-spacing: 0;
	border: 1px solid black;
}

td, th{
	border: 1px solid black;
}

.font {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
	.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
	}
	.col-lg-1 {
	width: 8.33%;
	}
	.col-lg-2 {
	width: 16.66%;
	}
	.col-lg-3 {
	width: 25%;
	}
	.col-lg-4 {
	width: 33.33%;
	}
	.col-lg-5 {
	width: 41.66%;
	}
	.col-lg-6 {
	width: 50%;
	}
	.col-lg-7 {
	width: 58.33%;
	}
	.col-lg-8 {
	width: 66.66%;
	}
	.col-lg-9 {
	width: 75%;
	}
	.col-lg-10 {
	width: 83.33%;
	}
	.col-lg-11 {
	width: 91.66%;
	}
	.col-lg-12 {
	width: 100%;
	}
}

@media (min-width: 993px) and (max-width: 1199px) {
	.col-des-1, .col-des-2, .col-des-3, .col-des-4, .col-des-5, .col-des-6, .col-des-7, .col-des-8,
	.col-des-9, .col-des-10, .col-des-11, .col-des-12 {
	float: left;
	}
	.col-des-1 {
	width: 8.33%;
	}
	.col-des-2 {
	width: 16.66%;
	}
	.col-des-3 {
	width: 25%;
	}
	.col-des-4 {
	width: 33.33%;
	}
	.col-des-5 {
	width: 41.66%;
	}
	.col-des-6 {
	width: 50%;
	}
	.col-des-7 {
	width: 58.33%;
	}
	.col-des-8 {
	width: 66.66%;
	}
	.col-des-9 {
	width: 75%;
	}
	.col-des-10 {
	width: 83.33%;
	}
	.col-des-11 {
	width: 91.66%;
	}
	.col-des-12 {
	width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8,
	.col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
	float: left;
	}
	.col-tab-1 {
	width: 8.33%;
	}
	.col-tab-2 {
	width: 16.66%;
	}
	.col-tab-3 {
	width: 25%;
	}
	.col-tab-4 {
	width: 33.33%;
	}
	.col-tab-5 {
	width: 41.66%;
	}
	.col-tab-6 {
	width: 50%;
	}
	.col-tab-7 {
	width: 58.33%;
	}
	.col-tab-8 {
	width: 66.66%;
	}
	.col-tab-9 {
	width: 75%;
	}
	.col-tab-10 {
	width: 83.33%;
	}
	.col-tab-11 {
	width: 91.66%;
	}
	.col-tab-12 {
	width: 100%;
	}
}

@media (max-width: 768px) {
	.col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8,
	.col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
	float: left;
	}
	.col-mob-1 {
	width: 8.33%;
	}
	.col-mob-2 {
	width: 16.66%;
	}
	.col-mob-3 {
	width: 25%;
	}
	.col-mob-4 {
	width: 33.33%;
	}
	.col-mob-5 {
	width: 41.66%;
	}
	.col-mob-6 {
	width: 50%;
	}
	.col-mob-7 {
	width: 58.33%;
	}
	.col-mob-8 {
	width: 66.66%;
	}
	.col-mob-9 {
	width: 75%;
	}
	.col-mob-10 {
	width: 83.33%;
	}
	.col-mob-11 {
	width: 91.66%;
	}
	.col-mob-12 {
	width: 100%;
	}
}